<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}

<div class="card-deck">
    {% for product in product_list %}

    <a href="{% url 'product_detail' product.id %}">
        <div class="card border-secondary" style="width: 18rem; ">
            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap" style="height: 20rem">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <hr>
                <p class="card-text">£{{ product.price }}</p>
                 <hr>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}